<!DOCTYPE html>
<html>
    <head>
        <script>
            var token = '<%= token %>';
        </script>
    </head>
    <body>
        <p>
            test socketio auth
        </p>
        
        <% if (message && message.length > 0) { %>
            <p style="color:red"><%= message %></p>
        <% } %>
        
        <p>
            access the <a href="/restricted">restricted</a> page.
        </p>
        
        <p>
            socket status: <span id="socketStatus" style="color:blue">initial</span>
        </p>
        
        <p>
            logged in as <%= user.username %>
        </p>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/socket-auth.js"></script>
    </body>
</html>
