<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>
            test socketio auth - restricted page            
        <P>
        <p>
            you are logged in as <%= user.username %>
        </p>        
        <p>
            <a href="/">home</a> | <a href="/logout">logout</a>
        </p>
    </body>
</html>
