<!DOCTYPE html>
<html>
    <head>
        <script>
            var token = '<%= token %>';
        </script>
    </head>
    <body>
        <p>
            test socketio auth - restricted page            
        </p>
        <p>
            you are logged in as <%= user.username %>
        </p>
        <p>
            socket status: <span id="socketStatus" style="color:blue">initial</span>
        </p>
        <p>
            <a href="/">home</a> | <a href="/logout">logout</a>
        </p>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/socket-auth.js"></script>        
    </body>
</html>
